# <center>Working with JSON Files<center>

In [2]:
import os
import csv
import json
import pandas as pd

# Setting up directory and filepath
base_dir = os.getcwd()
csv_file_path = os.path.join(base_dir,"data","temperatures.csv")
json_file_path = os.path.join(base_dir,"data","temperatures.json")

# Function to convert a CSV to JSON
# Takes the file paths as arguments

def create_json(csvFilePath, jsonFilePath):

    # list to hold row by row dictionary format
    data = []

    # Open a csv File
    with open(csvFilePath, encoding='utf-8') as csvf:
        # Reading CSV Data in form of Dictionary
        csvReader = csv.DictReader(csvf)

        for rows in csvReader:
            # Remove the blank key value
            rows.pop('')            
            data.append(rows)
               
    # Open a json writer, and use the json.dumps()
    # function to dump data
    with open(jsonFilePath, 'w', encoding='utf-8') as jsonf:
        # Converting the list object into string of json using json.dumps and writing it to file
        jsonf.write(json.dumps(data, indent=4))
 
# Call to the  function
create_json(csv_file_path, json_file_path)

# Loading the data into the DataFrame
df_json = pd.read_json(path_or_buf=json_file_path,convert_dates=False)
df_json.head()

         date     city        country         avg_temp_c
0  2000-01-01  Abidjan  Côte D'Ivoire  27.29300000000001
1  2000-02-01  Abidjan  Côte D'Ivoire             27.685
2  2000-03-01  Abidjan  Côte D'Ivoire             29.061
3  2000-04-01  Abidjan  Côte D'Ivoire             28.162
4  2000-05-01  Abidjan  Côte D'Ivoire             27.547

In [3]:
# covert_dates parameter of read_json is set to False because of which date data type is object
df_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16500 entries, 0 to 16499
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        16500 non-null  object
 1   city        16500 non-null  object
 2   country     16500 non-null  object
 3   avg_temp_c  16500 non-null  object
dtypes: object(4)
memory usage: 515.8+ KB

### Read JSON data from URL 
normalize_json gives more control on reading complex json structures

In [4]:
import requests

url = "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson"
# The response of the HTTP request is stored in req_response
req_response = requests.get(url)

# The content part of the URL is stored as bytes
print(type(req_response.content))

# The data in bytes is converted to text
req_response_txt = req_response.text

# The string is converted into the dictionary format
data = json.loads(req_response_txt)

# json_normalize takes the json data as the unserialized JSON Objects
df_flattened_json = pd.json_normalize(data['features'])
df_flattened_json

<class 'bytes'>

,type,id,properties.mag,properties.place,properties.time,properties.updated,properties.tz,properties.url,properties.detail,properties.felt,...,properties.types,properties.nst,properties.dmin,properties.rms,properties.gap,properties.magType,properties.type,properties.title,geometry.type,geometry.coordinates
0,Feature,nn00835676,0.90,"38 km SE of Mina, Nevada",1647701770638,1647702027408,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/earthquakes/feed/v...,None,...,",origin,phase-data,",8.0,0.11500,0.0598,161.61,ml,earthquake,"M 0.9 - 38 km SE of Mina, Nevada",Point,"[-117.7621, 38.1832, 11.2]"
1,Feature,ak0223l8hloj,1.60,"22 km SSW of Point Possession, Alaska",1647700788836,1647700966879,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/earthquakes/feed/v...,None,...,",origin,phase-data,",NaN,NaN,0.2700,NaN,ml,earthquake,"M 1.6 - 22 km SSW of Point Possession, Alaska",Point,"[-150.8275, 60.7355, 14.2]"
2,Feature,nn00835675,0.60,"29 km SE of Mina, Nevada",1647700752085,1647700997124,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/earthquakes/feed/v...,None,...,",origin,phase-data,",8.0,0.06200,0.2161,172.96,ml,earthquake,"M 0.6 - 29 km SE of Mina, Nevada",Point,"[-117.8991, 38.1785, 16]"
3,Feature,ci39972335,0.77,"16km N of Borrego Springs, CA",1647700346920,1647700568464,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/earthquakes/feed/v...,None,...,",nearby-cities,origin,phase-data,scitech-link,",19.0,0.13100,0.1800,140.00,ml,earthquake,"M 0.8 - 16km N of Borrego Springs, CA",Point,"[-116.3655, 33.4021667, 5.99]"
4,Feature,ci39972327,1.93,"9km NNE of Banning, CA",1647699850290,1647700502800,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/earthquakes/feed/v...,None,...,",focal-mechanism,nearby-cities,origin,phase-da...",63.0,0.04808,0.2200,27.00,ml,earthquake,"M 1.9 - 9km NNE of Banning, CA",Point,"[-116.8458333, 33.9988333, 12.34]"
5,Feature,ci39972319,1.65,"26km SSW of Bodfish, CA",1647699503540,1647700135800,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/earthquakes/feed/v...,None,...,",focal-mechanism,nearby-cities,origin,phase-da...",27.0,0.15400,0.2100,48.00,ml,earthquake,"M 1.7 - 26km SSW of Bodfish, CA",Point,"[-118.5836667, 35.3688333, 0.89]"
6,Feature,ci39972303,1.36,"29km WNW of Desert Center, CA",1647699284280,1647699505958,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/earthquakes/feed/v...,None,...,",nearby-cities,origin,phase-data,scitech-link,",21.0,0.09334,0.1800,82.00,ml,earthquake,"M 1.4 - 29km WNW of Desert Center, CA",Point,"[-115.7085, 33.7806667, 8.9]"

In [4]:
df_flattened_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 30 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  6 non-null      object
 1   id                    6 non-null      object
 2   properties.mag        6 non-null      float64
 3   properties.place      6 non-null      object
 4   properties.time       6 non-null      int64
 5   properties.updated    6 non-null      int64
 6   properties.tz         0 non-null      object
 7   properties.url        6 non-null      object
 8   properties.detail     6 non-null      object
 9   properties.felt       0 non-null      object
 10  properties.cdi        0 non-null      object
 11  properties.mmi        0 non-null      object
 12  properties.alert      0 non-null      object
 13  properties.status     6 non-null      object
 14  properties.tsunami    6 non-null      int64
 15  properties.sig        6 non-null      int64
 16  properties.net        6 non-null      object
 17  properties.code       6 non-null      object
 18  properties.ids        6 non-null      object
 19  properties.sources    6 non-null      object
 20  properties.types      6 non-null      object
 21  properties.nst        3 non-null      float64
 22  properties.dmin       3 non-null      float64
 23  properties.rms        6 non-null      float64
 24  properties.gap        3 non-null      float64
 25  properties.magType    6 non-null      object
 26  properties.type       6 non-null      object
 27  properties.title      6 non-null      object
 28  geometry.type         6 non-null      object
 29  geometry.coordinates  6 non-null      object
dtypes: float64(5), int64(4), object(21)
memory usage: 1.5+ KB

### Reading JSON data with more nested structure
This is a more complex JSON example with multi-level nesting. This example references and modifies the data from [pandas documentation](https://pandas.pydata.org/docs/reference/api/pandas.json_normalize.html)

In [6]:
data = [
    {
        "state": "Florida",
        "shortname": "FL",
        "info": {
            "governor": "Rick Scott"
        },
        "a": {
            "attr": 'ABC',
            "date": '2013-11-1976',
            "counties": [
                {
                    "name": "Dade",
                    "population": 12345
                },
                {
                    "name": "Broward",
                    "population": 40000
                },
                {
                    "name": "Palm Beach",
                    "population": 60000
                },
            ],
            "city": {
                "name": "Miami"
            }
        },
    },
    {
        "state": "Ohio",
        "shortname": "OH",
        "info": {
            "governor": "John Kasich"
        },
        "a": {
            "attr": 'DEF',
            "date": '2013-11-1976',
            "counties": [
                {
                    "name": "Summit",
                    "population": 1234
                },
                {
                    "name": "Cuyahoga",
                    "population": 1337
                },
            ],
            "city": {
                "name": "Portland"
            }
        },
    },
]

# record_path --> The path should be upto that attribute which is the list of values
# result = pd.json_normalize(data, record_path=['a','counties'],
#                            meta=['state','shortname',["info","governor"],['a','attr'],['a','city','name']])
# the code is not able to read ["info", "governer"] because of a bug in the library
# https://github.com/pandas-dev/pandas/issues/40514 --> this is the bug logged to read nested meta attributes

result = pd.json_normalize(data, record_path=['a','counties'],
                           meta=['state','shortname',"info",['a','attr'],['a','city','name'],['a','date']])
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         5 non-null      object
 1   population   5 non-null      int64
 2   state        5 non-null      object
 3   shortname    5 non-null      object
 4   info         5 non-null      object
 5   a.attr       5 non-null      object
 6   a.city.name  5 non-null      object
 7   a.date       5 non-null      object
dtypes: int64(1), object(7)
memory usage: 448.0+ bytes

In [7]:
result.head()

,name,population,state,shortname,info,a.attr,a.city.name,a.date
0,Dade,12345,Florida,FL,{'governor': 'Rick Scott'},ABC,Miami,2013-11-1976
1,Broward,40000,Florida,FL,{'governor': 'Rick Scott'},ABC,Miami,2013-11-1976
2,Palm Beach,60000,Florida,FL,{'governor': 'Rick Scott'},ABC,Miami,2013-11-1976
3,Summit,1234,Ohio,OH,{'governor': 'John Kasich'},DEF,Portland,2013-11-1976
4,Cuyahoga,1337,Ohio,OH,{'governor': 'John Kasich'},DEF,Portland,2013-11-1976

In [69]:
# Extracting Governor from info column
result['governer_name'] = result['info'].apply(lambda a: a['governor'])
result

,name,population,state,shortname,info,a.attr,a.city.name,governer_name
0,Dade,12345,Florida,FL,{'governor': 'Rick Scott'},ABC,Miami,Rick Scott
1,Broward,40000,Florida,FL,{'governor': 'Rick Scott'},ABC,Miami,Rick Scott
2,Palm Beach,60000,Florida,FL,{'governor': 'Rick Scott'},ABC,Miami,Rick Scott
3,Summit,1234,Ohio,OH,{'governor': 'John Kasich'},DEF,Portland,John Kasich
4,Cuyahoga,1337,Ohio,OH,{'governor': 'John Kasich'},DEF,Portland,John Kasich